<mat-vertical-stepper  mobile-step-text="true">
<h1 mat-dialog-title> How does this work?</h1>
  <mat-step label = 'About GigBus'> 
    Its simple GigBus is a platform to enable folks from your town to see more gigs,
    by grouping together to arrange and drive down transport costs home from the gig. 
  </mat-step>
  <mat-step label = 'How does it work'> 
    Sign up for a Gig by putting down £5 deposit. We then have 7 days to drive down the cost of transport to the gig by getting more people on the bus. If in 7 days we do not reach the target the £5 is refunded. 
    Once the bus is full you pay rest of the cost transport via the GigBus app.
  </mat-step>
  <mat-step label = 'Tickets'> 
   The next question is what about Tickets. Gigbus is not a ticketing site,if the gig sells out in the 7 days again all deposits are refunded. Once the bus is full Gig Bus scans the internet to show you the best option for tickets.
  </mat-step>
  
  <mat-step label = 'Gig Info'> 
   Okay so you up for {{passData.gigArtistName}} at {{ passData.gigVenueName}} on {{ passData.gigDate.toMillis()   | date: 'medium' }} great choice!
   The bus sets of at ** Time ** returns (if you miss it tuf shit)
   Share this as widely as you can to get the price down. 
  </mat-step>
   <mat-step label = 'Sign Up'> 
      <!-- <app-login></app-login> -->
   </mat-step>
</mat-vertical-stepper> 


