

<div fxLayout="column" fxLayoutAlign="space-around center">


  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title> {{gigArtistName}} </mat-card-title>
      <mat-card-subtitle> {{gigVenueName}} </mat-card-subtitle>
      <mat-card-subtitle> {{gigDate}} </mat-card-subtitle>
     
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>

      <P>
        Please click to get on the bus.
       
       <br><br>
     
       <button  mat-raised-button (click)="upVotes()" >  Get On It </button>
       <br><br> The number of people currently on the bus {{ totalVote }} 
       <br> <br> The cost per person is {{ totalrunningPrice }}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>




  <br> <br>
  <button  mat-raised-button (click)="Reset()" >  Reset </button>
  <br>

  <mat-card class="example-card">
    
      <mat-card-title> Add Gig details</mat-card-title>
  
<form 
  #f="ngForm" 
  (ngSubmit)="onSubmit(f)">

 
  <mat-form-field appearance="fill">
    <mat-label>Gig Artist Name</mat-label>
    <input matInput name="gigArtistName" ngModel>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Gig Venue Name</mat-label>
      <mat-select name="gigVenueName" ngModel>
        <mat-option value="Manchester">Manchester</mat-option>
        <mat-option value="Liverpool">Liverpool</mat-option>
      </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Gig Description</mat-label>
    <textarea matInput name="gigDescription" ngModel> </textarea>
  </mat-form-field>
  <br>

  <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" name="gigDate" ngModel>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  <br> 
  
  <mat-card-actions>
    <button type="Submit" mat-raised-button>  Add Gig </button>
  </mat-card-actions>
</form>
 
</mat-card>

<app-gig-details></app-gig-details>
<!--<div>

  <h1>Alert Button</h1>

  <article  class = "message is-warning"
            [hidden] = "hiddenContent">
    <div    class = "message message header">
      <p>   warning code {{ severity }} </p>
    </div>

    <div    class = "message body">
      <p>   {{ content | async }} </p>
    </div>
    
  </article>

  <button   (click)="toogle()"
            class = "button is info"> Increment         
  </button>

</div>  --> 
