<div fxLayout="column" fxLayoutAlign="space-around center">
<div class="cardFormat" *ngFor="let gig of gigs">
  <mat-card>
    <mat-card-header> 
      <mat-card-title>    {{ gig.gigArtistName }} </mat-card-title>
      <mat-card-subtitle> {{ gig.gigDescription }} </mat-card-subtitle>
      <mat-card-subtitle> {{ gig.gigVenueName}} </mat-card-subtitle>
      <mat-card-subtitle> {{ gig.gigDate.toMillis()  | date: 'medium' }} </mat-card-subtitle> 
          <!--?? .toMillis()  | date: 'medium' ??-->
    </mat-card-header>
    
    <mat-card-content>
      <br> The total cost:<br>
      <h2>£{{ gig.gigTotalPrice }}</h2><br>
        The number of people currently going: <h2>{{ gig.gigPunterCount }}</h2>. <br>
        This means costs per person is:<h2>£{{ gig.gigRunningCostPerPunter  }}</h2>.  <br>
        Places left<h2>{{ 8 - gig.gigPunterCount }} </h2> <br>With all seats taken the cost would be <h2>£{{ (gig.gigTotalPrice / 8) | number:'1.2-2' }}</h2> 
      

   
    </mat-card-content>
  
  
    <mat-card-actions>
    
      <button button (click)="totalPunterIncrement(gig)" mat-raised-button *ngIf="!isAuth"> SIGN UP </button>
     <!--- <button mat-button  mat-raised-button *ngIf="isAuth" (click)="addPunter(gig)">LIKE</button> -->
      
      <button mat-button  mat-raised-button *ngIf="isAuth" (click)="addPunterGig(gig.id)">LIKE TEST</button>
      <button mat-button  mat-raised-button *ngIf="isAuth">SHARE</button>
    </mat-card-actions>
  </mat-card>
<br>
<br>
</div>

<!-- <div *ngIf="gigs$ | async; let Gigs; else loading">
  <ul>
    <li *ngFor="let gig of Gigs">
      {{  Gigs.gigVenueName }}
    </li>
  </ul>
  <div *ngIf="Gigs.length === 0">No results, try clearing filters</div>
</div> -->