<div fxLayout="column" fxLayoutAlign="space-around center">
<div class="cardFormat" *ngFor="let gig of gigs">
  <mat-card>
    <mat-card-header> 
      <mat-card-title>    {{ gig.gigArtistName }} </mat-card-title>
      <mat-card-subtitle> {{ gig.gigDescription }} </mat-card-subtitle>
      <mat-card-subtitle> {{ gig.gigVenueName}} </mat-card-subtitle>
      <mat-card-subtitle> {{ gig.gigDate }} </mat-card-subtitle> 
          <!--?? .toMillis()  | date: 'medium' ??-->
    </mat-card-header>
    
    <mat-card-content>
      <br><br> The number of people currently going from your town via gigBus is {{ gig.gigPunterCount }}. 
        This means transport costs per person are currently £{{ gig.gigRunningCostPerPunter  }}. 
        If a futher {{ 8 - gig.gigPunterCount }} join us and we fill the bus the cost would be £{{ (gig.gigTotalPrice / 8) | number:'1.2-2' }}
      <P>Don't miss this...<br> <br>

   
    </mat-card-content>
  
  
    <mat-card-actions>
    
      <button button (click)="totalPunterIncrement(gig)" mat-raised-button *ngIf="!isAuth"> SIGN UP </button>
      <button mat-button  mat-raised-button *ngIf="isAuth" (click)="addPunter(gig)">LIKE</button>
      
      <button mat-button  mat-raised-button *ngIf="isAuth" (click)="addPunterGig(gig)">LIKE TEST</button>
      <button mat-button  mat-raised-button *ngIf="isAuth">SHARE</button>
    </mat-card-actions>
  </mat-card>
<br>
<br>
</div>

<!-- <div *ngIf="gigs$ | async; let Gigs; else loading">
  <ul>
    <li *ngFor="let gig of Gigs">
      {{  Gigs.gigVenueName }}
    </li>
  </ul>
  <div *ngIf="Gigs.length === 0">No results, try clearing filters</div>
</div> -->